<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <script src="https://kit.fontawesome.com/514548070d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Personal Expense Tracker</title>
    <link rel="stylesheet" href="../static/home4.css">
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <h2>Personal Expense Tracker</h2>
        </a>
        <ul class="nav justify-content-end toRight">
            <li class="nav-item">
                <a class="nav-link active" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">
                    <div onclick="window.location.href='{{ url_for('logout') }}'">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="logout">Logout</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <h3 class="navbar-brand1" href="#">Welcome, {{name}}</h3>
    <div class="track-home">
        <div class="track-left">
            <div class="track-items">
                <div class="track-right__top__types">
                    <i class="fa-solid fa-bed fa-2x"></i>
                    <span class="track-type__amount">₹{{ expenses["Medical Expenses"] }}</span>
                    <span>Medical Expenses</span>
                </div>
                <div class="track-right__top__types">
                    <i class="fa-solid fa-house fa-2x"></i>
                    <span class="track-type__amount">₹{{ expenses["House Expenses"] }}</span>
                    <span>House Expenses</span>
                </div>
                <div class="track-right__top__types">
                    <i class="fa-solid fa-graduation-cap fa-2x"></i>
                    <span class="track-type__amount">₹{{ expenses["Education"] }}</span>
                    <span>Education</span>
                </div>
                <div class="track-right__top__types">
                    <i class="fa-solid fa-piggy-bank fa-2x"></i>
                    <span class="track-type__amount">₹{{ expenses["Savings"] }}</span>
                    <span>Savings</span>
                </div>
                <div class="track-right__top__types">
                    <i class="fa-solid fa-money-check-dollar fa-2x"></i>
                    <span class="track-type__amount">₹{{ expenses["Others"] }}</span>
                    <span>Others</span>
                </div>
            </div>
        </div>

        <div class="track-right">
            <div class="track-right__bottom">
                <div class="track-limit">
                    <div class="monthly">
                    <h2>Monthly Limit</h2>
                    </div>
                    <div class="showlimit">
                        <span class="limiter">
                            <h3>Expense Limit : {{ fixlimit }}</h3>
                            <br>
                        </span>
                        <span class="limiter">
                            
                            <h3>Available Limit : {{ avalimit }}</h3>
                        </span>
                    </div>
                    <div class="limi">
                        
                        <form action="/setLimit" method="post">
                            
                            <div class="set-limit1">
                                <input name="limit" placeholder="Set Amount" type="number" min="0">
                                <button type="submit" class="btn-submi" href="/setLimit">Set Limit</button>

                            </div>
                        </form>
                    
                    
                        
                        <form action="/changeLimit" method="post">
                            <div class="set-limit2">
                                <input  name="limit1" placeholder="Change Amount" type="number" min="0">
                                <button type="submit" class="btn-submi">Change Limit</button>

                            </div>
                        </form>
                        
                    </div>
                </div>
                <div class="track-add">
                    <h2>Add Expenditure</h2>
                    <form action="/add-expenditure" method="post">
                        <div class="expenditure-input">
                            <input name="transaction" placeholder="Transaction" type="text">
                        </div>
                        <div class="expenditure-input">
                            <input name="type" placeholder="Transaction Type" type="text" list="trans-type">
                            <datalist id="trans-type">
                                <option value="Medical Expenses">
                                <option value="House Expenses">
                                <option value="Education">
                                <option value="Savings">
                                <option value="Others">
                            </datalist>
                        </div>
                        <div class="expenditure-input">
                            <input name="amount" placeholder="Amount" type="number" min="0">
                        </div>
                        <div class="expenditure-input">
                            <input name="date" placeholder="Date" type="date">
                        </div>
                        <button type="submit" class="btn-submit">Add</button>
                    </form>
                </div>
            </div>
            <div class="track-transactions">
                <h3>Recent Transactions</h3>
                {% if data|length == 0 %}
                <div class="empty-transact">No Transactions Available...</div>
                {% else %}
                <div class="transact-header">
                    <span class="date-header"><b>Date</b></span>
                    <span class="transaction-header"><b>Transaction</b></span>
                    <span class="type-header"><b>Type</b></span>
                    <span class="amount-header"><b>Amount</b></span>
                </div>
                <div class="total-items">
                    {% for val in data %}
                    <div class="transact-item">
                        <span class="date-header">{{ val.DATE }}</span>
                        <span class="transaction-header">{{ val.TRANSACTION }}</span>
                        <div class="type-header">{{ val.TYPE }}</div>
                        <span class="amount-header">₹{{ val.AMOUNT }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

<script>
    window.watsonAssistantChatOptions = {
        integrationID: "e2c9f815-0d77-4c6d-bda0-5835e92a8edf", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "022ab310-8d5f-431b-b6d8-f0a6b91577a9", // The ID of your service instance.
        onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
    });
</script>

</body>

</html>